section(id="userControls", ng-controller="UserControlsCtrl", class="container-fluid", on-touch-move="onUserTouchMove")
  img(id="arrow", src="images/direction_arrow.png", width="128", height="128", alt="")

