section(id="mapView", ng-controller="MapCtrl")
  google-maps(name="map", onload="onMapLoad(map)", center="37.78317372823109,237.5632660095215", zoom="13")
  img(id="plane", src="images/glyphicons_038_airplane.png", width="48", height="48")

