# ignore genrated JS and source map file
*.js
*.map
# but not the external libs
!/public/lib/*/*.js

# ignore generated CSS files
public/styles/*.css

*.pid
nohup.out
.idea/workspace.xml
node_modules/
.tmp/
dist/
.DS_Store
