extends layout

block content
  section(ng-controller="MapCtrl", class="viewport")
    google-maps(name="map", onload="onMapLoad()", center="37.78317372823109,237.5632660095215", zoom="13")

  //script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyAh7KYXTPPuG0Iw5UWKr2HlHqoYhpSllPU&sensor=true')
  script(src='/lib/socket.io/socket.io.js')
  script(src='/lib/angular/angular.js')
  script(src='/lib/angular/angular-resource.js')
  script(src='/angular/app.js')
  script(src='/angular/services.js')
  script(src='/angular/controllers.js')
  script(src='/angular/filters.js')
  script(src='/angular/directives.js')
