extends layout

block content
  section(ng-controller="AppCtrl")
  section(ng-view, class="viewport")

block javascripts
  //script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='//maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAh7KYXTPPuG0Iw5UWKr2HlHqoYhpSllPU&sensor=true')
  script(src='/lib/socket.io/socket.io.js')
  script(src='/lib/jquery/jquery.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.js')
  script(src='/lib/polyfills/requestAnimationFrame.js')
  script(src='/lib/tweenjs/src/Tween.js')
  script(src='/angular/app.js')
  script(src='/angular/services.js')
  script(src='/angular/controllers.js')
  script(src='/angular/filters.js')
  script(src='/angular/directives.js')
